/* Fonts: */

/* Libre Baskerville, OFL 1.1 as of 24.10.2015
 * See fmvkb.de/fonts/OFL_Baskerville.txt for license. */
@font-face {
	font-family: libre-baskerville;
	src: local(LibreBaskerville-Regular),
		local('Libre Baskerville'),
		url(fonts/LibreBaskerville-Regular.ttf) format("truetype");
}

@font-face {
	font-family: libre-baskerville;
	src: local(LibreBaskerville-Bold),
		url(fonts/LibreBaskerville-Bold.ttf) format("truetype");
	font-weight: bold;
}

@font-face {
	font-family: libre-baskerville;
	src: local(LibreBaskerville-Italic),
		url(fonts/LibreBaskerville-Italic.ttf) format("truetype");
	font-style: italic;
}

/* Julius Sans One, OFL 1.1 as of 24.10.2015.
 * See fmvkb.de/fonts/OFL_JuliusSansOne.txt for license. */
@font-face {
	font-family: julius-sans-one;
	src: local(JuliusSansOne-Regular),
		local('Julius Sans One'),
		url(fonts/JuliusSansOne-Regular.ttf) format("truetype");
}


/* Structure: */

#container {
	width: 33%;
	padding-left: 33%;
	padding-right: 33%;
	margin-top: 0;
	margin-bottom: 0;
}

#text_column{
	width: 100%;
	margin-top: 50;
	margin-bottom: 0;
	padding-left: 10;
	padding-right: 10;
	margin-left: -5;
}


/* Color Palette: */
/* FFE0BE FFBA6F FF9E35 FF9E35 CF6C00 */


/* Text formatting: */

/* Body Text: */
p {
	font-family: libre-baskerville, serif;
	font-size: 10pt;
	text-align: justify;
	/* border-top: 	10px dotted #A0A0A0; */
	padding-top: 	0px;
	padding-bottom:	15px;
}

p>a:link{
	color: #CF6C00;
}

p>a:visited{
	color: #683600;
}

p>br{
	margin-bottom: 5pt;
}

/* Headline: */
h1 {
	text-align: center;
	font-family: julius-sans-one, sans-serif;
	font-size: 20pt;
	color: #CF6C00;
	padding-bottom:	15px;
	border-bottom: 	10px dotted #A0A0A0;
}

h2 {
	text-align: left;
	font-family: julius-sans-one, sans-serif;
	font-size: 12pt;
	color: #CF6C00;
	padding-top: 	15px;
}

/* Avatar positioning: */
#bio {
	overflow: auto;
	padding-top: 4px;
}

#bio img {
	float: left;
	vertical-align: middle;
	width: 100px;
	clear: both;
	padding-right: 17px;
	padding-top: 11px;
}

/* Email svg: */
#contact img {
	padding-top: 2px;
}
